@import "mixins";
@import "variables.scss";

header {
  z-index: 10;
  background-color: $color-bg;
  border-radius: 0 0 20px 20px;
}

.header {
  padding-top: 45px;
  padding-bottom: 17px;
  @include center-row;

  &__left {
    @include center-row;

    ul {
      @include center-row;
      gap: 50px;

      li {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
        color: $text-gray;
      }
    }
  }

  &__logo {
    width: 53px;
    height: 53px;
    margin-right: 66px;
  }
}
