// COLORS
$color-black: #000;
$color-white: #fff;
$color-gray: #e3e2e4;
$color-bg: #f9f9f9;
$color-bg-gray: #f1f1f1;

$gray-title: #c5c5c5;
$text-black: #000;
$text-gray: #606060;
$text-white: #ffffff;

$bg-date: #1c1d20;

// SETTINGS
$desktop-xxl: 2560;
$desktop-xl: 1920;
$desktop-lg: 1680;
$desktop-md: 1440;
$desktop-sm: 1366;
$desktop-xs: 1280;
$desktop: 1024;
$tablet: 1024;
$mobile: 800;
