@import "../../style/variables.scss";
@import "../../style/functions.scss";
@import "../../style/mixins.scss";

.footer {
  background: $color-black;
  & > div:nth-child(1) {
    @include mobile {
      padding-top: 63px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__top {
    padding-top: vc(88);
    margin-bottom: 24px;
    @include center-row;
    gap: 10px;

    @include tablet {
      padding-top: 69px;
      margin-bottom: 20px;
    }
    @include mobile {
      padding-top: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 28px;
      margin-bottom: 47px;
    }

    ul {
      @include center-row;
      gap: vc(70);

      @include tablet {
        gap: 50px;
      }

      @include mobile {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
      }
    }

    ul li {
      color: $text-gray;

      @include tablet {
        font-size: 12px;
      }

      @include mobile {
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }

  &__bottom {
    @include center-row;
    color: $text-gray;
    padding-top: vc(56);
    padding-bottom: vc(86);
    position: relative;

    @include tablet {
      padding-top: 40px;
      padding-bottom: 60px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #818181;
      opacity: 0.2;

      @include mobile {
        display: none;
      }
    }

    @include mobile {
      flex-direction: column;
      padding-top: 15px;

      div:nth-child(1) {
        display: none;
      }
    }
  }
}

.icon {
  @include center-row;
  img {
    width: 65px;
    height: 65px;
    margin-right: 10px;

    @include tablet {
      width: 46px;
      height: 46px;
    }
  }

  span {
    font-size: vc(30);
    font-family: var(--font-poppins);
    font-weight: 600;
    color: $color-white;

    @include tablet {
      font-size: 21px;
    }
  }
}

.soc {
  ul {
    @include center-row;
    gap: 42px;
    @include mobile {
      gap: 11px;
    }
  }

  img {
    width: 24px;

    @include mobile {
      width: 14px;
    }
  }
}

.mob {
  display: none;
  color: $text-gray;
  border-top: 1px solid #818181;
  padding: 26px 24px 40px 24px;

  @include mobile {
    display: block;
    text-align: center;
  }
}
